{% include 'header.twig' %}

{% if errors is not empty %}
    <ul style="color: red;">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" action="">
    <label for="username">Username:</label><br>
    <input type="text" name="username" id="username" value="{{ username|e }}" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" id="password" required><br><br>

    <label for="captcha">What is {{ captcha_question }} ?</label><br>
    <input type="text" name="captcha" id="captcha" required><br><br>

    <button type="submit">Login</button>
</form>

<p><a href="register.php">Create an account</a></p>
<p><a href="list_of_movie.php">Back to Movie List</a></p>

{% include 'footer.twig' %}